


:root{
    --primary-color:#ccab9c;
    --secondary-color:#914351;
    --third-color:rgb(0,45,45);
    --fourth-color:	rgb(45,21,45);
    --gray-color:#8b8989;
    --bordo-color:#421d1d;
    --lila-color:#402a35;
    --green-color:#98a5a4;
    --pembe-color:#e89292;
    --tozpembe-color:#c06e6e;
    --darkpurple-color: rgb(43, 3, 33);

}
body{
    font-family:'Happy Monkey' ,'Montserrat',Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     /* background-color:var(--lila-color); */
    
      /* background: linear-gradient(33deg,var(--tozpembe-color),var(--lila-color))   */
      background-image: url('./images/pexels-karolina-grabowska-4210787.jpg');
      background-size: cover; /* Resmi öğenin boyutuna sığdırır */
      background-position: center; /* Resmi ortalar */
      background-repeat: no-repeat; /* Resmin tekrar etmesini engeller */
      overflow-y: auto; /* Dikey kaydırma çubuğunu etkinleştir */
    min-height: 100vh; /* Sayfanın minimum yüksekliğini viewport yüksekliği kadar yapar */
    background-attachment: fixed; /* Sayfa kaydırılırken resmin kalmasını sağlar */


}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100vh;
    background-color: #ffe4e1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(139, 137, 137);
    padding: 20px;
}
.heading{
    
    text-align: center;
    color: var(--bordo-color);
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
   
top: 0%;
width: 80%;
    position: fixed;

        z-index: 1000; /* Diğer içeriklerin üstünde kalmasını sağlar */
    padding: 10px; /* İç boşluk ekler (isteğe bağlı) */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Gölge efekti (isteğe bağlı) */

    
}
.h1box{
    margin-top: 40px; /* Üstteki sabit div'in yüksekliğine göre ayarlayın */
    display: flex;
    
    

}
h1{
    color: var(--bordo-color);
    padding-bottom: 10px;
    text-transform: capitalize;
}
.tarih{
   
    color:var(--bordo-color);
   font-family: 'Courier New', Courier, monospace;
   font-size: larger;
   margin-right: 2rem;
   font-size: 20px;
   font-weight: bold;

}
.input-container{
    display: flex;
    flex-direction: row;
     justify-content: center;
    /* align-items: center;  */
  
   width: 70%;
   
    
  

}
input[type=text]{
    padding: 10px;
    border: 1px solid #cdc9c9;
    border-radius: 5px;
    flex: 1;


}
.addBtn{
    padding: 10px;
    background-color:var(--pembe-color);
   border: none;
   border-radius:5%;
   cursor: pointer;
   color:antiquewhite;
   transition: 300ms all;
}
.addBtn:hover{
    background-color: var(--secondary-color);
    /* opacity: 0.5; */
}
.doneBtn{
    padding: 10px;
    background-color:var(--primary-color);
   border: none;
   border-radius:5%;
   cursor: pointer;
   color:antiquewhite;
   transition: 300ms all;
}
.doneBtn:hover{
    background-color: var(--fourth-color);
     opacity: 0.7; 
}
ul{
    list-style-type: none;
    padding: 0;
   
    /* display: flex;
    flex-direction: column; */
}
li{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid var(--primary-color);
    animation: fadeIn 0.5s ease-in;
}
li:last-child{
    border-bottom: none;
}
span{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
    text-overflow: ellipsis;
    color: var(--fourth-color);
    font-family: 'Montserrat';
    
}
.completed span{
    text-decoration: line-through;
    color: var(--gray-color);
    
}
.completed button{
    color: var(--fourth-color);
}
@keyframes fadeIn{
from{
    transform: translateY(-10px);
    opacity: 0;
}
to{
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes fadeOut{
    from{
        
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-10px);
    }
}
#completed-count {
    display: flex; /* Flexbox kullanarak içeriği hizalar */
    justify-content: center; /* Yatayda ortalar */
    align-items: center; /* Dikeyde ortalar */
    text-align: center; /* Metni yatayda ortalar (ekstra güvence) */
    margin-top: 2rem;
    width: 40%;
    height: 10vh;
    color: #f1d2d2;
    background-color: #421d1d;
    border-radius: 50%;
    font-weight: bold;
    margin-bottom: 2rem;
}

.todoList{
    max-height: 50vh; /* Maksimum yükseklik belirler */
    overflow-y: auto; /* Dikey kaydırma çubuğunu etkinleştir */
    margin-bottom: 80px; /* Input kutusu için boşluk bırakır */

}